@import url("http://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "sans-serif";
}
body {
  --tw-bg-opacity: 1;
  color: rgb(255, 255, 255);
}

.list-item {
  display: list-item;
}

li {
  list-style: decimal;
  margin: 1em;
  padding: 0;
}

.slider li{
  list-style: none;

}

ol {
  list-style: none;
}