.screenshot {
  border-radius: 0% !important;
  height: 80%;
  width: 80%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
    .screenshot {
      width: 100%;
    }
    .guide p {
        font-size: medium !important;
    }
  }
  